body {
  margin: 0;
  font-family:'Roboto',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  min-height: 100vh;
}


.App {
  width: 100%;
}

button {
  font-size: 20px;
  width: 33.33%;
}

.selected {
  background-color: #333;
  color: white;
}


ul{
  padding: 3rem 2rem 1rem;
}

li {
  margin-bottom: 1rem;
}

.table-container {
  width: 100%;
}

tr, td {
  border: 1px solid #333;
}
